<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cacao"
        tools:targetApi="31">
        <activity
            android:name=".activities.MakeANote"
            android:exported="false" />
        <activity
            android:name=".activities.AddAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CourseDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Settings"
            android:exported="false" />
        <activity
            android:name=".activities.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeActivity$settings"
            android:exported="false"
            android:theme="@style/Theme.Cacao" />
        <activity
            android:name=".activities.ImportCourseDataActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FinalSetupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CourseSetup"
            android:exported="false" />
        <activity
            android:name=".activities.PreferencesSelection"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileLaunch"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>